img{
  max-width: 100%;
  height: auto;
} 

body{
  font-family:Arial, Helvetica, sans-serif;
  margin:0;
}

.highlight {
  background-color: yellow;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3d2314;
}
ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #751907;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {
    display: inline;
    float: none;}
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #d3ad7f;
  color:#3d2314;
} 
.search-input {
  margin-left: auto;
}
.center-image {
  margin-left: auto;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: #56301a;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #56301a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

#area1{
  display: grid;
  width: 100%;
  height: auto;
  grid-template-areas: 
  "text photo";
  grid-template-columns: 1fr 1fr;
}
#area1 > #text{
  background-color: white;
  grid-area: text;
  color:black;
  padding: 2em;
}
#text > h1{
  color:rgb(220, 119, 18);
  font-size:3em;
}
#area1 > #photo{
  grid-area: photo;
}

div > h1:first-child{
  font-size:2em;
}
.button {
  display: inline-block;
  border-radius: 1em;
  background-color:rgb(220, 119, 18);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.container {
  background-color:#3d2314;
  color:white;
  padding: 20px;
}
.container > .members {
  display: flex;
  justify-content: center;
  align-items: center;
}
.members > figure{
  animation-duration: 3s;
  animation-name: animatie;
}
.container > h1{
  column-span: all;
  font-size:3em;
  text-align: center;
}
.figcaption-box {
  border: 3px dashed white;
  padding: 10px;
  margin-top: 10px;
}

figcaption > h3{
  color:rgb(220, 119, 18);
  text-align: center;
}
@keyframes animatie{
  from {
    margin-left: 100%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
footer{
  color: white;
  background-color:#d3ad7f;
  display: grid;
  width: 100%;
  height: auto;
  grid-template-areas: 
  "logo adresa socialmedia";
  grid-template-columns: 0.5fr 1fr 0.25fr;
}
#logo > h4{
  color:rgb(220, 119, 18);
}
footer > #logo{
  grid-area: logo;
}
footer > #adresa{
  grid-area: adresa;
}
footer > #socialmedia{
  grid-area: socialmedia;
}
footer::after{
  content: "page made by Oana Cochiorca";
}
#socialmedia > a:hover{
  opacity: 0.4;
}
#adresa > h3,h4{
  color:rgb(220, 119, 18);
}
#adresa > h3{
  font-size: 2em;
}